@import './base.css';
/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;

}
.p-button {
  border-radius: 50px;
  gap: 0.5em;
}
.p-input-filled{
  border-radius: 50px;
}
.p-menubar {
  border-radius: 0;
}
.p-float-label label {
  margin-top: -0.5em;
}

.no-underline {
  text-decoration: none;
}
.p-fileupload .p-button {
  height: 2.5rem;
}
.p-menubar-end {
  display: flex;
  margin: auto 0 auto auto;
}
